html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    color: #E5e7eb;
    font-weight: 600;
}
#main-text{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}
.nav-links{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: #E5e7eb;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    gap: 46px;
}
.hero-section .text{
    flex: 1;
}
.hero-section .image{
    flex: 1;
}
.hero-section .image img{
    width: 100%;
    height: auto;
}
button{
    padding: 12px 16px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
}