html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero{
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    color: #E5e7eb;
    font-weight: 600;
}
#main-text{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}
.nav-links{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: #E5e7eb;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 46px;
}
.hero-section .text{
    flex: 1;
}
.hero-section .image{
    flex: 1;
}
.hero-section .image img{
    width: 100%;
    height: auto;
}
button{
    padding: 12px 34px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
}
.cards {
    background-color: #f3f4f6;
    padding: 40px 20px;
}

.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.card-section h1{
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 40px;
    color: #1f2937;
    width: 100%;
}

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.card img{
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
}
.card h1{
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 12px;
    font-weight: 900;
}
.card p{
    color: #4b5563;
    font-size: 16px;
    line-height: 1.5;
}